.itemListContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
}
.itemsContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 2vw;
    justify-content: center;
}